<%- include("../layout/header") %>
<div class="w-full flex flex-col gap-10 justify-start items-center p-4 md:px-10 lg:px-24">
    <div class="w-full h-2/3 sm:w-2/3 flex flex-col gap-8 overflow-scroll">
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full justify-end items-center">
            <%- include("./messageSelf") %>
        </div>
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full items-center">
            <%- include("./message") %>
        </div>
        <div class="flex w-full justify-end items-center">
            <%- include("./messageSelf") %>
        </div>
    </div>
</div>
<%- include("./write") %>
